.about {
  padding: 50px 0;
}

.about__container {
  display: flex;
}

.about__gallery {
  max-width: 600px;
  margin-right: 80px;
  display: grid;
  grid-template-columns: repeat(11, 55px);
  grid-template-rows: repeat(11, 55px);
}

.about__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about__gallery-one {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 5;
}

.about__gallery-two {
  grid-column-start: 6;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 5;
}

.about__gallery-three {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 9;
}

.about__gallery-four {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 9;
}

.about__gallery-five {
  grid-column-start: 7;
  grid-column-end: 12;
  grid-row-start: 5;
  grid-row-end: 9;
}

.about__gallery-six {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 9;
  grid-row-end: 12;
}

.about__gallery-seven {
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 9;
  grid-row-end: 12;
}


.about__title {
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.about__text {
  max-width: 500px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
}

.about__blockquote {
  margin: 0;
}

.about__big-text {
  max-width: 450px;
  font-size: 44px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
  position: relative;
  padding-left: 30px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.about__big-text:before {
  content: '“ ';
  font-weight: 900;
  color: #6C0287;
  position: absolute;
  left: -2px;
}

.about__big-text:after {
  content: ' ”';
  font-weight: 900;
  color: #6C0287;
}

.about__sign {
  display: flex;
  margin-left: 100px;
}

.about__photo {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 30px;
}

.about__text_cite {
  max-width: 250px;
}
