.booking {
  background-color: var(--darkplum-color, #440f51);
  padding: 80px 0;
}

.booking__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.booking__room {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  border: none;
  margin-bottom: 60px;
  gap: 60px;
}

.booking__form-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-bottom: 40px;
}

.booking__form-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 23px;
}

.booking__room-input {
  display: none;
}

.booking__room-label {
  display: inline-block;
  min-width: 250px;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: var(--black-color, #000000);
  background-color: var(--white-color, #ffffff);
  padding: 7px 15px 8px 15px;
  text-align: center;
  user-select: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.8s ease, border 0.8s ease;
}

.booking__room-input:not(:disabled)+.booking__room-label:hover {
  outline: 3px solid #640aa3;
  outline-offset: -3px;
  background-color: var(--lightpink-color, #EADEED);
}

.booking__room-input+.booking__room-label:focus {
  outline: 3px solid #640aa3;
  outline-offset: -3px;
  background-color: var(--white-color, #ffffff);
}

.booking__room-input:active+.booking__room-label {
  background-color: var(--lightpink-color, #EADEED);
}

.booking__room-input:checked+.booking__room-label {
  background-color: var(--lightpink-color, #EADEED);
}

.booking__range {
  font-size: 0;
  max-width: 980px;
  display: flex;
  justify-content: space-between;
  border: none;
  gap: 100px;
  margin: 60px auto;
}

.booking__game {
  font-size: 0;
  display: flex;
  flex-direction: column;
  border: none;
  gap: 20px;
}

.booking__game-label {
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
}

.booking__game-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.booking__game-input+.booking__text {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.booking__game-input+.booking__text:before {
  content: '';
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-right: 12px;
  background-color: var(--white-color, #ffffff);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.booking__game-input+.booking__text_radio:before {
    border-radius: 50%;
}

.booking__game-input:focus+.booking__text:before {
  outline: 1px solid var(--pink-color, #cd06ff);
  outline-offset: 1px;
}

.booking__game-input:checked+.booking__text_checkbox:before {
  border-color: var(--pink-color, #cd06ff);
  background-color: var(--pink-color, #cd06ff);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.booking__game-input:checked+.booking__text_radio:before {
  border-color: var(--pink-color, #cd06ff);
  background-color: var(--pink-color, #cd06ff);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.booking__reg {
  max-width: 980px;
  font-size: 0%;
  display: flex;
  justify-content: space-between;
  border: none;
  gap: 50px;
  margin: 60px auto;
}

.booking__reg-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.booking__reg-input {
  width: 100%;
  height: 52px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding: 0 20px;
  margin-top: 6px;
}

.booking__reg-input:focus {
  outline: 2px solid var(--pink-color, #cd06ff);
  outline-offset: -2px;
}

.booking__reg-date {
  border: none;
  display: flex;
  gap: 30px 32px;
  flex-wrap: wrap;
  flex-basis: 300px;
  padding-top: 16px;
}

.booking__reg-name {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex-basis: 280px;
}

.booking__reg-contacts {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex-basis: 300px;
}

.booking__reg-input_size_xs {
  width: 134px;
}

.booking__reg-input_size_m {
  width: 300px;
}

.booking__button-span {
  max-width: 980px;
  display: flex;
  justify-content: end;
  margin: 0 auto;
}

.booking__button {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: var(--darker-than-darkpink-color, #6c0287);
  background-color: var(--white-color, #ffffff);
  padding: 16px 50px;
  border: none;
  border-radius: 10px;
  transition: background-color 0.8s ease;
}

.booking__button:hover {
  outline: 3px solid var(--darker-than-darkpink-color, #6c0287);
  outline-offset: -3px;
  background-color: var(--lightpink-color, #EADEED);
}

.booking__button:focus {
  outline: 3px solid var(--darker-than-darkpink-color, #6c0287);
  outline-offset: -3px;
}

.booking__button:active {
  background-color: var(--lightpink-color, #EADEED);
}

