.contacts {
  padding-top: 50px;
  padding-bottom: 20px;
  background: linear-gradient(180deg, var(--background-color, #1B1A1B) 0%, var(--darker-than-darkplum-color, #370A37) 100%);
}

.contacts__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 47px;
}

.contacts__address {
  max-width: 330px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  font-style: normal;
  position: relative;
  padding-left: 60px;
  margin-bottom: 41px;
}

.contacts__location {
  margin-bottom: 42px;
}

.contacts__link_phone {
  margin-bottom: 11px;
}

.contacts__list {
  gap: 26px;
  display: flex;
}

.contacts__link {
  text-decoration: none;
}

.contacts__image {
  width: 50px;
  height: 50px;
  fill: var(--white-color, #ffffff);
  transition: all .8s ease;
}

.contacts__location:before,
.contacts__link_phone:before,
.contacts__link_mail:before {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 32px;
  height: 32px;
}

.contacts__location:before {
  background-image: url("../img/contacts/location.svg");
  left: -1px;
  top: 12px;
}

.contacts__link_phone:before {
  background-image: url("../img/contacts/phone.svg");
  left: 0;
}

.contacts__link_mail:before {
  background-image: url("../img/contacts/envelope.svg");
  left: 3px;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
}

.contacts__container-address {
  margin-right: 60px;
  margin-bottom: 155px;
}

.contacts__copyright {
  display: flex;
  justify-content: space-between;
} 

.contacts__text-copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  flex-basis: 160px;
  flex-wrap: wrap;
}

.contacts__text-copyright_align_right {
    text-align: right;
}

.contacts__image:hover {
  fill: var(--lightpink-color, #eadeed);
}

.contacts__image:focus {
  fill: var(--lightpink-color, #eadeed);
  outline: 1px solid var(--pink-color, #cd06ff);
}

.contacts__image:active {
  fill: var(--pink-color, #cd06ff);
}

.contacts__map {
  width: 680px;
  height: 274px;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .contacts {
    padding-top: 24px;
  }

  .contacts__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
  }
  
  .contacts__address {
    padding-left: 40px;
    margin-bottom: 40px;
  }

  .contacts__location {
    margin-bottom: 44px;
  }
  
  .contacts__link_phone {
    margin-bottom: 7px;
  }

  .contacts__location:before, 
  .contacts__link_phone:before, 
  .contacts__link_mail:before {
    left: 1px;
    width: 26px;
    height: 26px;
  }

  .contacts__image {
    width: 40px;
    height: 40px;
  }

  .contacts__container-address {
    margin-right: 58px;
    margin-bottom: 120px;
  }

  .contacts__text-copyright {
    line-height: 16px;
  }
}

@media (max-width: 768px) {
  .contacts {
    padding-top: 28px;
    padding-bottom: 18px;
  }

  .contacts__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .contacts__item {
    margin-right: 0;
  }

  .contacts__address {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    padding-left: 0px;
    margin-bottom: 27px;
  }

  .contacts__location {
    margin-bottom: 32px;
  }
  
  .contacts__link_phone {
    margin-bottom: 27px;
  }

  .contacts__location:before {
    top: -2px;
    left: 58px;
  }

  .contacts__link_phone:before{
    left: 10px;
  }

  .contacts__link_mail:before {
    left: -20px;
  }

  .contacts__container-address {
    margin-right: 0;
  }

  .contacts__list {
    justify-content: center;
  }
  
  .contacts__map {
    max-width: 688px;
    height: 337px;
    margin-bottom: 75px;
  }

  .contacts__container-address {
    margin-bottom: 27px;
  }

  .contacts__container {
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .contacts {
    padding-top: 15px;
    padding-bottom: 24px;
  }

  .contacts__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .contacts__address {
    max-width: 150px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
  }

  .contacts__location {
    margin-bottom: 10px;
  }

  .contacts__link_phone {
    margin-bottom: 10px;
  }

  .contacts__location:before {
    width: 20px;
    top: -2px;
    left: 17px;
  }

  .contacts__link_phone:before {
    width: 16px;
    left: -2px;
  }

  .contacts__link_mail:before {
    width: 20px;
    left: -26px;
  }

  .contacts__list {
    gap: 20px;
  }

  .contacts__image {
    width: 30px;
    height: 30px;
  }

  .contacts__map {
    max-width: 100%;
    max-height: 194px;
    margin-bottom: 63px;
  }

  .contacts__container-address {
    margin-bottom: 32px;
  }

  .contacts__copyright {
    max-width: 140px;
    flex-basis: 0;
    text-align: center;
    flex-direction: column;
    margin: 0 auto 5px auto;
  }

  .contacts__text-copyright {
    text-align: center;
    flex-basis: 0;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 19px;
  }
}