.contacts {
  padding-top: 50px;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts__title {
  margin-bottom: 54px;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.contacts__address {
  max-width: 300px;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 28px;
  padding-left: 60px;
  position: relative;
}

.contacts__link_phone, .contacts__link_mail, .contacts__location {
  margin-bottom: 24px;
  display: block;
}

.contacts__nav {
  margin-top: 40px;
}

.contacts__list {
  display: flex;
}

.contacts__item {
  margin-right: 28px;
}

.contacts__link {
  text-decoration: none;
  color: #FFFFFF;
}

.contacts__image {
  width: 50px;
  height: 50px;
  transition: all .8s ease;
}

.contacts__location:before {
  content: url("../img/contacts/location.svg");
  position: absolute;
  left: -2px;
  top: 12px;
}

.contacts__link_phone:before {
  content: url("../img/contacts/phone.svg");
  position: absolute;
  left: -2px;
}

.contacts__link_mail:before {
  content: url("../img/contacts/envelope.svg");
  position: absolute;
  left: -2px;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 165px;
}

.contacts__copyright {
  display: flex;
  justify-content: space-between;
} 

.contacts__text-copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  flex-basis: 160px;
  flex-wrap: wrap;
}

.contacts__text-copyright_align_right {
    text-align: right;
}

.contacts__image:hover {
  fill: #eadeed;
}

.contacts__image:focus {
  fill: #eadeed;
  outline: 1px solid #cd06ff;
  outline-offset: -1px;
}

.contacts__image:active {
  fill: #cd06ff;
}

