.header {
  position: relative;
  padding-top: 31px;
  background-color: inherit;
  z-index: 100;
}

.header__logo {
  height: 66px;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__nav {
  display: flex;
}

.header__list {
  display: flex;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  line-height: 50px;
  gap: 41px;
}

.header__button-nav {
  display: none;
}

.header__button {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--white-color, #ffffff);
  background-color: inherit;
  border: 3px solid var(--pink-color, #cd06ff);
  border-radius: 10px;
  padding: 11px 29px 8px 29px;
  transition: background-color .8s ease;
}

.header__button:hover {
  background-color: var(--darker-than-darkpink-color, #6c0287);
  border: 3px solid var(--darker-than-darkpink-color, #6c0287);
}

.header__button:focus {
  background-color: var(--darker-than-darkpink-color, #6c0287);
  border: 3px solid var(--darker-than-darkpink-color, #6c0287);
}

.header__button:active {
  background-color: var(--darker-than-darkpink-color, #6c0287);
  border: 3px solid var(--darker-than-darkpink-color, #6c0287);
}

@media (max-width: 1200px) {
  .header {
    padding-top: 30px;
  }

  .header__list {
    font-size: 18px;
    line-height: 22px;
    gap: 20.7px;
  }

  .header__logo {
    height: 55px;
    width: 87px;
  }

  .header__button {
    font-size: 18px;
    line-height: 24px;
    padding: 9px 25px 9px 24px;
  }
}

@media (max-width: 960px) {
  .header {
    padding-top: 34px;
    position: relative;
  }

  .header__nav,
  .header__button-icon_hide,
  .header__button-close_hide {
    display: none;
  }

  .header__button-nav {
    display: block;
    width: 62px;
    height: 60px;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    padding: 4px;
  }

  .header__button-icon,
  .header__button-close {
    fill: var(--darker-than-darkpink-color, #6C0287);
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }

  /* .header__button-icon {
    fill: var(--darker-than-darkpink-color, #6C0287);
    width: 54px;
    height: 29px;
  } */

  .header__button-icon:hover,
  .header__button-close:hover {
    fill: var(--pink-color, #cd06ff);
    transition: fill .8s ease;
  }

  .header__button-nav:focus {
    border: 1px solid var(--pink-color, #cd06ff);
  }

  .header__button-icon:active,
  .header__button-close:active {
    fill: var(--darkpink-color, #840aa3);
  }

  .header__button {
    font-size: 18px;
    line-height: 24px;
    padding: 6px 24px 9px 25px;
  }
}

@media (max-width: 690px) {
  .header {
    padding-top: 26px;
    z-index: 21;
  }

  .header__logo {
    height: 42px;
    width: 66px;
  }

  .header__button-nav {
    width: 40px;
    height: 40px;
  }

  .header__button-icon {
    width: 39px;
    height: 20px;
  }

  .header__button-close {
    width: 35px;
    height: 35px;
  }

  .header__button {
    display: none;
  }
}