.home__content {
  position: relative;
}

.home__title {
  font-size: 150px;
  font-weight: 900;
  line-height: 150px;
  letter-spacing: -15px;
  margin-top: -1px;
  margin-bottom: 1px;
}

.home__text {
  font-size: 28px;
  font-weight: 400;
  line-height: 50px;
  margin-left: 100px;
  margin-bottom: 29px;
}

.home__content:after {
  content: "";
  width: 675px;
  height: 762px;
  position: absolute;
  background-image: url("../img/home/man.png");
  background-repeat: no-repeat;
  background-size: cover;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.home__block {
  display: flex;
  justify-content: start;
  text-align: center;
  gap: 28px;
  align-items: flex-end;
  margin-bottom: 149px;
}

.home__subblock {
  flex-basis: 190px;
}

.home__text-block {
  font-size: 30px;
  font-weight: 400;
  line-height: 34.5px;
}

.home__big-number {
  font-size: 100px;
  font-weight: 900;
  line-height: 141px;
  color: var(--pink-color, #cd06ff);
}

.home__big-text {
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 75px;
  font-weight: 900;
  line-height: 106px;
  color: var(--pink-color, #cd06ff);
}

.home__button {
  display: inline-block;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  border: none;
  border-radius: 10px;
  color: var(--white-color, #ffffff);
  background-color: var(--darker-than-darkpink-color, #6c0287);
  box-shadow: 0 0 10px var(--darker-than-darkpink-color, #6c0287);
  padding: 25px 69px;
  transition: background-color .8s ease;
  margin-bottom: 156px;
}

.home__button:hover {
  background-color: var(--darkpink-color, #840aa3);
}

.home__button:focus {
  background-color: var(--darkpink-color, #840aa3);
}

.home__button:active {
  background-color: var(--plum-color, #640aa3);
}

.home__link {
  width: 97px;
  height: 97px;
  background-image: url('../img/home/down.svg');
  background-size: cover;
  position: absolute;
  bottom: 92px;
  left: 45.7%;
  z-index: 2;
  transition: all .8s ease;
}

.home__link:hover {
  background-image: url('../img/home/down-hover.svg');
}

.home__link:focus {
  background-image: url('../img/home/down.svg');
  outline: 1px solid var(--pink-color, #cd06ff);
}

.home__link:active {
  background-image: url('../img/home/down-active.svg');
}

@media (max-width: 1200px) {
  .home {
    padding-top: 30px;
    padding-bottom: 48px;
  } 

  .home__content:after {
    height: 520px;
    width: 453px;
    right: 4px;
  }

  .home__title {
    font-size: 120px;
    line-height: 100%;
    letter-spacing: -0.1em;
    margin-bottom: 22px;
  }

  .home__text {
    font-size: 22px;
    line-height: 30px;
    margin-left: 100px;
    margin-bottom: 29px;
  }

  .home__text-block {
    font-size: 26px;
    line-height: 30px;
  }
  
  .home__big-number {
    font-size: 80px;
    line-height: 113px;
  }
  
  .home__big-text {
    font-size: 60px;
    line-height: 85px;
  }

  .home__block {
    gap: 25px;
    margin-bottom: 80px;
  }

  .home__subblock {
    flex-basis: 168px;
  }

  .home__button {
    font-size: 22px;
    line-height: 30px;
    padding: 17px 48px;
    margin-left: 39px;
    margin-bottom: 66px;
  }

  .home__link {
    width: 67px;
    height: 67px;
    bottom: 46px;
    left: 46.2%;
  }
}

@media (max-width: 960px) {
  .home {
    padding-top: 24px;
    padding-bottom: 49px;
  }

  .home__content:after {
    height: 479px;
    width: 409px;
    right: 8px;
  }
  
  .home__title {
    margin-left: 4px;
    font-size: 86px;
    margin-bottom: 20px;
  }
  
  .home__text {
    font-size: 18px;
    line-height: 24px;
    margin-left: 70px;
    margin-bottom: 50px;
  }
  
  .home__text-block {
    font-size: 16px;
    line-height: 18px;
  }
  
  .home__big-number {
    font-size: 50px;
    line-height: 71px;
    margin-bottom: 1px;
  }
  
  .home__big-text {
    font-size: 40px;
    line-height: 56px;
  }
  
  .home__block {
    gap: 23px;
    margin-bottom: 100px;
  }
  
  .home__subblock {
    flex-basis: 103px;
  }
  
  .home__button {
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    padding: 11px 34px;
    margin-left: 0;
    margin-bottom: 104px;
  }
  
  .home__link {
    display: none;
  }
}

@media (max-width: 690px) {
  .home {
    padding-top: 15px;
    padding-bottom: 31px;
  }

  .home__content:after {
    height: 179px;
    width: 161px;
    right: 0px;
  }

  .home__title {
    margin-left: 0;
    font-size: 35px;
    letter-spacing: -0.08em;
    margin-left: 1px;
    margin-bottom: 6px;
  }

  .home__text {
    font-size: 10px;
    line-height: 14px;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .home__text-block {
    font-size: 10px;
    line-height: 11px;
  }

  .home__big-number {
    font-size: 26px;
    line-height: 37px;
    margin-bottom: 0;
  }

  .home__big-text {
    font-size: 22px;
    line-height: 31px;
  }

  .home__block {
    gap: 15px;
    margin-bottom: 30px;
  }

  .home__subblock {
    flex-basis: 65px;
  }

  .home__button {
    font-size: 10px;
    line-height: 12px;
    padding: 8px 13px;
    margin-bottom: 22px;
  }
}