.home__content {
  position: relative;
  min-height: 825px;
}

.home__title {
  font-size: 150px;
  font-weight: 900;
  line-height: 150px;
  letter-spacing: -15px;
}

.home__text {
  font-size: 28px;
  font-weight: 400;
  line-height: 50px;
  margin-left: 100px;
}

.home__content:after {
  position: absolute;
  content: url("../img/home/man.png");
  right: 0;
  bottom: 0;
  z-index: 1;
}

.home__block {
  display: flex;
  justify-content: start;
  text-align: center;
  padding-top: 65px;
  gap: 40px;
  align-items: flex-end;
  margin-bottom: 150px;

}

.home__subblock {
  flex-basis: 200px;
}

.home__text-block {
  font-size: 30px;
  font-weight: 400;
  line-height: 34.5px;
}

.home__big-number {
  font-size: 100px;
  font-weight: 900;
  line-height: 141px;
  color: var(--pink-color, #cd06ff);
}

.home__big-text {
  text-transform: uppercase;
  font-size: 75px;
  font-weight: 900;
  line-height: 106px;
  color: var(--pink-color, #cd06ff);
}

.home__button {
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  border: none;
  border-radius: 10px;
  color: var(--white-color, #ffffff);
  background-color: var(--darker-than-darkpink-color, #6c0287);
  box-shadow: 0 0 10px var(--darker-than-darkpink-color, #6c0287);
  padding: 25px 69px;
  transition: background-color .8s ease;
}

.home__button:hover {
  background-color: var(--darkpink-color, #840aa3);
}

.home__button:focus {
  background-color: var(--darkpink-color, #840aa3);
}

.home__button:active {
  background-color: var(--plum-color, #640aa3);
}

.home__link {
  width: 97px;
  height: 97px;
  background-image: url('../img/home/down.svg');
  position: absolute;
  bottom: 90px;
  left: 46%;
  z-index: 2;
  transition: all .8s ease;
}

.home__link:hover {
  background-image: url('../img/home/down-hover.svg');
}

.home__link:focus {
  background-image: url('../img/home/down.svg');
  outline: 1px solid var(--pink-color, #cd06ff);
}

.home__link:active {
  background-image: url('../img/home/down-active.svg');
}