
.question__title {
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.question__item {
  background-color: var(--white-color, #ffffff);
  color: var(--lighter-than-black-color, #1C1A1A);
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question__item:not(:last-child) {
  margin-bottom: 20px;
}

.question__item:nth-child(even) {
  color: var(--white-color, #ffffff);
  background-color: var(--darkplum-color, #440f51);
}

.question__item:nth-child(even):after {
  content: '';
  background-image: url('../img/question/open.svg');
  width: 46px;
  height: 46px;
  cursor: pointer;
  transition: all .8s ease;
}

.question__item:nth-child(even):hover:after {
  background-image: url('../img/question/open-hover.svg');
}

.question__item:nth-child(even):active:after {
  background-image: url('../img/question/open-active.svg');
}

.question__item:nth-child(odd):after {
  content: '';
  background-image: url('../img/question/open-purple.svg');
  width: 46px;
  height: 46px;
  cursor: pointer;
  transition: all .8s ease;
}

.question__item:nth-child(odd):hover:after {
  background-image: url('../img/question/open-purp-hover.svg');
}

.question__item:nth-child(odd):active:after {
  background-image: url('../img/question/open-purp-active.svg');
}