.range__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  max-width: 700px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
} 

.range__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: var(--column-gap);
  row-gap: 40px;
} 

.range__item {
  flex-basis: calc(100% / var(--cart-count) - (var(--column-gap) * (var(--cart-count) - 1)) / var(--cart-count));
} 

.range__item:nth-child(2) {
  margin-top: 70px;
}

.range__item:nth-child(2n+4) {
 margin-top: -70px;
}

.card__content {
    position: relative;
}

.card__title {
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  top: 70%;
  left: 10%;
  z-index: 10;
}

.card__image {
  transition: all .8s ease;
}

.card__image:hover {
  transform: scale(1.1);
}