.reviews__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 44px;
}

.reviews__item {
  display: flex;
}

.reviews__item:not(:last-child) {
  margin-bottom: 49px;
}

.reviews__content {
  text-align: center;
  margin-right: 20px;
}

.reviews__list {
  max-width: 980px;
  margin: 0 auto;
}

.reviews__block-image {
  position: relative;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 12px;
}

.reviews__block-image:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
}

.reviews__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 30%;
}

.reviews__image_top {
  object-position: top;
}

.reviews__image_center {
  object-position: center 57%;
}

.reviews__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.reviews__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 53px;
}

@media (max-width: 1024px) {
  .reviews__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
  }
  
  .reviews__list {
    max-width: 705px;
  }

  .reviews__item:not(:last-child) {
    margin-bottom: 40px;
  }

  .reviews__content {
    margin-right: 38px;
  }

  .reviews__block-image {
    width: 172px;
    height: 172px;
    margin-bottom: 21px;
  }

  .reviews__subtitle {
    font-size: 18px;
    line-height: 26px;
  }
  
  .reviews__text {
    font-size: 18px;
    line-height: 26px;
    padding-top: 33px;
  }
}

@media (max-width: 768px) {
  .reviews__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 31px;
  }

  .reviews__list {
    max-width: 558px;
  }

  .reviews__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .reviews__content {
    margin-right: 13px;
  }

  .reviews__block-image {
    width: 153px;
    height: 153px;
    margin-bottom: 17px;
  }

  .reviews__subtitle {
    font-size: 14px;
    line-height: 20px;
  }

  .reviews__text {
    font-size: 16px;
    line-height: 22px;
    padding-top: 32px;
  }
}

@media (max-width: 320px) {
  .reviews__title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 15px;
  }

  .reviews__item {
    flex-direction: column;
    gap: 16px;
  }

  .reviews__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .reviews__content {
    margin: 0 auto;
  }

  .reviews__block-image {
    width: 86px;
    height: 86px;
    margin: 0 auto 9px auto;
  }

  .reviews__text {
    font-size: 12px;
    line-height: 16px;
    padding-top: 0;
  }
}
