*:root {
  --white-color: #ffffff;

  --black-color: #000000;
  --background-color: #1B1A1B;
  --lighter-than-black-color: #1C1A1A;

  --plum-color: #640AA3;
  --darkplum-color: #440F51;
  --darker-than-darkplum-color: #370A37;

  --pink-color: #CD06FF;
  --lightpink-color: #EADEED;
  --darkpink-color: #840AA3;
  --darker-than-darkpink-color: #6C0287;
}

.range {
  --cart-count: 3;
  --column-gap: 20px;
}

.room {
  --cart-count: 2;
  --column-gap: 20px;
}

@media (max-width: 1200px) {
  .room {
    --column-gap: 20px;
  }
}

@media (max-width: 960px) {
  .range {
    --cart-count: 2;
  } 

  .room {
    --column-gap: 20px;
  }
}

@media (max-width: 690px) {
  .range {
      --column-gap: 10px;
    }

  .room {
    --cart-count: 1;
  }
}