*:root {
  --white-color: #ffffff;

  --black-color: #000000;
  --background-color: #1B1A1B;
  --lighter-than-black-color: #1C1A1A;

  --plum-color: #640aa3;
  --darkplum-color: #440f51;
  --darker-than-darkplum-color: #370A37;

  --pink-color: #cd06ff;
  --lightpink-color: #EADEED;
  --darkpink-color: #840aa3;
  --darker-than-darkpink-color: #6c0287;
}

.range {
  --cart-count: 3;
  --column-gap: 20px;
}

.room {
  --cart-count: 2;
  --column-gap: 20px;
}

@media (max-width: 1024px) {
  .room {
    --column-gap: 20px;
  }
}

@media (max-width: 768px) {
  .range {
    --cart-count: 2;
  } 

  .room {
    --column-gap: 20px;
  }
}

@media (max-width: 320px) {
  .range {
      --column-gap: 10px;
    }

  .room {
    --cart-count: 1;
  }
}