* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1B1A1B;
  color: #FFFFFF;
}

.wrapper {
  max-width: 1240px;
  padding: 0 30px;
  margin: 0 auto;
}

.hide {
  display: none;
}
